<div>
    <a class="btn btn-primary showProductFormBtn" data-toggle="modal" data-keyboard="true" href='#productFormModal'>Agregar Producto</a>
    <div class="modal fade" tabindex='-1' id="productFormModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addProductForm" ng-submit="saveProduct()" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Agregar Producto</h4>
                    </div>
                    <div class="modal-body">
                        <auto:fields fields="schema" data="newProduct" options="options"></auto:fields>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success saveBtn">Guardar</button>
                        <button type="button" class="btn btn-default cancelBtn" ng-click="closeModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>