<div>
  <confirm-remove-dialog item-type="getType()" message="getDeleteMessage()" item-id="getOrderToDelete()._id"></confirm-remove-dialog>
  <table class="orderListTable table table-striped table-hover">
    <thead>
        <tr>
            <th>Opciones</th>
            <th>N# Orden</th>
            <th>Tipo</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
          <td>
              <div style="display:inline-flex">
                  <button ng-click="showRemoveDialog(order)" type="button" class="btn btn-danger glyphicon glyphicon-remove-circle" data-keyboard="true" style="margin-right: 3px;"></button>
                  <button ng-click="edit(order)" type="button" class="btn btn-info glyphicon glyphicon-edit editBtn" style="margin-right: 3px;"></button>
              </div>
          </td>
        <td>{{order.numOrder}}</td>
        <td>{{order.type}}</td>
        <td>{{order.client}}</td>
        <td>{{order.state}}</td>
        <td>{{order.comments}}</td>
      </tr>
    </tbody>
  </table>
</div>