<div class="container-fluid">
    <div class="row-fluid">
        <div class="page-header">
          <h1>Ordenes</h1>
        </div>
    </div>
</div>
<div class="orderViewOptions">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default newOrderBtn active">Nueva Orden</button>
      <button type="button" class="btn btn-default orderListBtn">Lista de Ordenes</button>
      <button type="button" class="btn btn-default ordersOverviewBtn">Vista General</button>
    </div>
</div>