<div class="container-fluid">
    <div class="row-fluid">
        <div class="page-header">
          <h1>Ordenes</h1>
        </div>
    </div>
    <div class="orderViewOptions">
        <div class="btn-group" role="group">
          <button type="button" ng-show="canManageOrders" class="btn btn-default" ng-class="{'active' : selection == 'newOrderBtn'}" ng-click="setOptionView('newOrderBtn') ">Nueva Orden</button>
          <button type="button" ng-show="canManageOrders" class="btn btn-default" ng-class="{'active' : selection == 'orderListBtn'}" ng-click="setOptionView('orderListBtn')">Lista de Ordenes</button>
          <button type="button" ng-show="canViewOptionButtons" class="btn btn-default" ng-class="{'active' : selection == 'ordersOverviewBtn'}" ng-click="setOptionView('ordersOverviewBtn')">Vista General</button>
        </div>
    </div>

    <div ng-switch on="selection" style="height:100%; width:100%;">
      <div ng-switch-default>
        <new-order new-order="getCurrentOrder()" line-items="getLineItems()"></new-order>
      </div>
      <div ng-switch-when="orderListBtn">
        <order-list></order-list>
      </div>
      <div ng-switch-when="ordersOverviewBtn">
        <orders-overview ></orders-overview>
      </div>
    </div>
</div>