<div class="modal fade" id="productConfirmFormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar Producto</h4>
            </div>
            <div class="modal-body">
                <h6>El producto "{{product.name}}" esta siendo eliminado. Desea continuar?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger deleteConfirmBtn" ng-click="removeProduct(product)">Eliminar</button>
                <button type="button" class="btn btn-default cancelConfirmBtn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>